body {
    background-color: #18181b;
}

.logo {
    width: 3%;
    height: auto;
    position: absolute;
    left: 50%;
    align-items: center;
    top: 94%;
}

h1 {
    color: #5aa1ed;
    font-size: 70px;
    font-family: 'Fragment Mono', monospace;
    text-align: center
}



h2 {
    color: #5aa1ed;
    font-size: 20px;
    font-family: 'Fragment Mono', monospace;
    text-align: center;
    line-height: 1;
}

.paper {
    width: auto;
    height: 400px;
    position: absolute;
    right: 8%;
    top: 10%;
    filter: invert(100%);
}


----------------

body {
    font-family: sans-serif;
    background-color: #81d4fa;
    font-weight: bold;
}

.text-box {
    margin-left: 44vw;
   margin-top: 30vh;
   font-family: 'Fragment Mono', monospace;
}

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: absolute;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-white::after {
    background-color: #fff;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
